@model StatusViewModel

<section class="modal modal-statuses" id="add-status-modal">
    <div class="card client-card">
        <div class="card-header">
            <h3>New Status</h3>
            <button class="btn-close" data-type="close-project-modal" data-target="#add-status-modal"></button>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Status" asp-action="Create" novalidate>
               
                <div class="form-group">
                    <label class="form-label">Status Name</label>
                    <input class="form-input" type="text" placeholder="Enter status name" asp-for="StatusName" />
                </div>
                <span asp-validation-for="StatusName"></span>

                <button type="submit" class="btn">Add Status</button>

            </form>
        </div>
    </div>

</section>