@using Domain.Models
@model EditClientViewModel
<section class="modal" id="edit-client-modal">

    <div class="card client-card">
        <div class="card-header">
            <h3>Edit Client</h3>
            <button class="btn-close" data-type="close-project-modal" data-target="#edit-client-modal"></button>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Clients" asp-action="Edit" novalidate>
                <input type="hidden" asp-for="Id" name="Id" />
                <div class="form-group">
                    <label class="form-label">Client Name</label>
                    <input class="form-input" type="text" placeholder="Client name" asp-for="ClientName" />
                </div>

                <div class="form-group">
                    <label class="form-label">Client Email</label>
                    <input class="form-input" type="text" placeholder="Client email address" asp-for="Email" />
                </div>

                <div class="form-group">
                    <label class="form-label">Client Phone</label>
                    <input class="form-input" type="text" placeholder="Client phone number" asp-for="PhoneNumber" />
                </div>

                <button type="submit" class="btn">Update Client</button>

            </form>
        </div>
    </div>

</section>