<div id="settings-container">
    <button type="button" data-type="dropdown" data-target="#settings-dropdown" class="btn-settings">
        <i class="fa-solid fa-gear"></i>
    </button>
    <div id="settings-dropdown" class="dropdown">
        <div class="dropdown-header">

        </div>
    </div>
</div>